.auth-background {
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
    url('../assets/imgs/oficinas.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh
}

.small-screen-only {
    @media (max-width:$breakpoint-xs-max) {
        display: block;
    }
    @media (min-width:$breakpoint-sm-min){
        display: none;
    } 
}

.large-screen-only {
    @media (max-width:$breakpoint-xs-max) {
        display: none;
    }
    @media (min-width:$breakpoint-sm-min){
        display: block
    } 
}

.hide-validation .q-field__error {
    display: none;
}
  
.q-field--error .q-field__error {
    display: block;
}